<ul class="nav nav-tabs">
            <li class="nav-item"> <a class="nav-link" routerLinkActive="actif" [routerLink]="['/accueil']">Accueil</a> </li>
            <li class="nav-item"> <a class="nav-link" routerLinkActive="actif" [routerLink]=" ['/produits']">Nos Produits</a> </li>
            <li class="nav-item"> <a class="nav-link" routerLinkActive="actif" [routerLink]="['/contact']">Conatct</a> </li>
            <li class="nav-item"> <a class="nav-link" routerLinkActive="actif" [routerLink]="['/connecter']">Connecter</a> </li>
        </ul>